button{
    background: #2eceb0;
    color: white;
}

img{
    width: 100%;
    max-width: 330.6px;
    margin: auto;
    display: block;
}

.bg-green{
    background-color: #93c33d !important;
}

.card {
    width: 100%;
    max-width: 330px;
    margin: auto;
}